
body {
        font-family: 'Arial', sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
        height: 100vh;
        color:hsl(220 20% 94%);
        background:hsl(220 28% 14%)
    }
